{% extends 'base-user.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <div class="container ">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
                <h2>Détails de la Commande</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ commande.id }}</td>
                        </tr>
                        <tr>
                            <th>Produit</th>
                            <td>{{ commande.produit }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td><strong class="text-success">{{ commande.prix }} €</strong></td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ commande.adresse }}</td>
                        </tr>
                        <tr>
                            <th>Numéro de téléphone</th>
                            <td>{{ commande.numTel }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                <div class="btn-group" role="group">
                    <a href="{{ path('app_commande_index') }}" class="btn btn-secondary">🔙 Retour à la liste</a>
               
                </div>
            </div>
        </div>
    </div>
      {{ '&nbsp;&nbsp;&nbsp;'|raw }}
{% endblock %}
